*, *::before, *::after {

  /* Use actual padding and borders */
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* Variables */
  --bg-color: pink;
  --header-color: rgb(214, 104, 122);
  --card-bg-color: rgb(73, 216, 120);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.header {
  background-color: var(--header-color);
  display: flex;
  justify-content: center;
  padding: 1rem 0 1rem;
}

.hero {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: indigo;
}

.card-movable {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  /* animation: cardOpen 3s linear 0s infinite alternate; */
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: blue;
}

/* .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: yellow;
  transform-origin: 0% 50%;
  animation: cardOpen 3s linear 0s infinite alternate;
} */

@keyframes cardOpen {
  0% {
    /* transform: translateZ(-5px); */
  }
  50% {
    /* transform: rotateY(90deg) skewY(-10deg); */
  }
  100% {
    transform: rotateY(120deg) skewY(-10deg);
  }
}

.card-open-animation {
  animation: cardOpen 3s linear 0s 1;
  animation-fill-mode: forwards;
}