*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background: rgb(29, 30, 35);
  color: #FFF;
  
  transition: all 1s ease-in;

  &.open{
    background: #2C85C4;
  }
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0 0 10px 0;
}

div.card-container {
  position: relative;
  height: 400px;
  width: 400px;
  margin: 0 auto; 
  cursor: pointer;
  background: rgb(11, 154, 170);
  border-radius: 10px;

  div.card-face {
    position: absolute;
    height: 100%;
    width: 100%;
    background: yellowgreen;
    transform-style: preserve-3d;
    border-radius: 10px;
    transition: all 1s ease-in;
    transform-origin: 0% 50%;

    /* 
      When card is open 
      (when clicked)
    */

    &.card-front {
      position: absolute;
      height: 100%;
      width: 100%;
      backface-visibility: hidden;
      background-color: rgb(187, 136, 40);
      transform: rotateY(120deg) skewY(-10deg);
      z-index: 1;
    }

    &.card-back {
      position: absolute;
      height: 100%;
      width: 100%;
      /* backface-visibility: hidden; */
      background-color: blue;
      transform: rotateY(120deg) skewY(-10deg);
    }
  }

  /* 
    When card is closed
    (Default)
   */

  &.close {
    div.card-face.card-front {
      transform: none;
    }

    div.card-face.card-back {
      transform: none;
    }
  }
}