*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background: rgb(29, 30, 35);
  color: #FFF;
  
  transition: all 1s ease-in-out;

  &.close{
    background: #2C85C4;
  }
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0 0 10px 0;
}

.card-container {
  position: relative;
  height: 400px;
  width: 400px;
  margin: 0 auto; 
  background: rgb(11, 154, 170);
  border-radius: 10px;

  .card-face {
    position: absolute;
    height: 100%;
    width: 100%;
    background: yellowgreen;
    border-radius: 10px;

    cursor: pointer;

    transition: all 1s ease-in-out;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;

    /* Default transform */
    &.card-front {
      backface-visibility: hidden;
      background-color: rgb(187, 136, 40);
      transform: none;
      z-index: 1;
    }
    &.card-back {
      /* backface-visibility: hidden; */
      background-color: blue;
      transform: none;
    }
  }

  /* When clicked */
  &.close {
    .card-face.card-front {
      transform: rotateY(135deg) skewY(-10deg);
    }
    .card-face.card-back {
      transform: rotateY(135deg) skewY(-10deg);
    }
  }
}

.card-no-move {

  .ask {
    /* background-color: aqua; */
  }

  .imgContainer {
    position: relative;
    display: inline-block;
  }

  .button {
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 16px;

    &.yes {

    }
    &.no {

    }
  }

  .img-popup {
    display: none;
    position: absolute;
    bottom: 100%;
    width: 150px;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
    z-index: 10;
  }
  
  .imgContainer:hover .img-popup {
    display: block;
  }
}